# This File is Created by Tang Dynasty.
set ADCList {"../../../../adc_sdc/test.adc"}
set SDCList {"../../../../adc_sdc/RGB_to_MIPI_video_mode.sdc"}
set area_option -packarea
set device_name 
set end_step opt_gate
set package_name 
set prj_name {RGB_to_MIPI_video_mode}
set run_type syn
set start_step read_design
set top_model_name {mipi_driver_tp}
