# This File is Created by Tang Dynasty.
set ADCList {"../../../../adc_sdc/test.adc"}
set SDCList {"../../../../adc_sdc/RGB_to_MIPI_video_mode.sdc"}
set area_option -packarea
set arr_filter false
set device_name 
set drHoldFix on
set end_step bitgen
set package_name 
set parent ../syn_1
set prj_name {RGB_to_MIPI_video_mode}
set run_type phy
set start_step opt_place
set top_model_name {mipi_driver_tp}
